# Tuples

The difference between list and tuple is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed.
Also, List is mutable and Tuple is immutable.

# Tuple Creation

In [3]:
# empty tuple
t = tuple()
# or
t = ()

t = (1, 2, 3)

# tuple with mixed datatypes
t = (1, 'ashish', 28, 'abc')

# nested tuple
t = (1, (2, 3, 4), [1, 'ashish'])
print(t)

(1, (2, 3, 4), [1, 'ashish'])

In [4]:
# only parenthesis is not enough to make a tuple
t = ("ashish")
type(t)

str

In [8]:
# need a comma at the end
# this is necessary for only one item
t = ("ashish",)
type(t)

tuple

In [9]:
# parenthesis is optional
t = "ashish",
print(type(t))

<class 'tuple'>

# Accessing Elements in Tuple

In [10]:
t = ('ashish', 'shrestha', 'hello', 'world')
print(t[1])

shrestha

In [13]:
# Nested tuple
t = ('ASHISH', ('hello', 'abc'), 'shrestha')
print(t[1])
print(t[1][1])

('hello', 'abc')
abc

In [19]:
# slicing 
# Similar to list operation
t = (1, 2, 3, 4, 5, 6, 7, 9, 8)

print(t[1:4])

# print elements from start to 2nd last elements
print(t[:-1])

(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7, 9)

# Changing a Tuple

* unlike lists, tuple are immutable
* this means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [21]:
t = (0, 1, 2, 3, 4, [5, 6, 7])

t[5][1] = 'x'
print(t)

(0, 1, 2, 3, 4, [5, 'x', 7])

In [23]:
# concatenate the tuples
t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [25]:
# repeat the lements in a tuple for a given number of times using the * operator
t = (('ashish',) * 4)
t

('ashish', 'ashish', 'ashish', 'ashish')

# Tuple Deletion

In [26]:
# we cannot change the elements in a tuple
# that also means we cannot delete or remove items from a tuple

# delete entire tuple using del keyword

t = (1, 2, 3, 4, 5, 6)

del t

# Tuple Count

In [27]:
t = (1, 2, 3, 1, 3, 3, 4, 5, 6,2, 3, 5, 4)

t.count(1)

2

# Tuple Index

In [28]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) # returns index of the first item i.e 3

2

# Tuple Membership

In [29]:
# test if an item exists in a tuple or not, using the keywork in.
t = (1, 2, 3, 4)
print( 1 in t)

True

In [30]:
print(5 in t)

False

# Built in functions

## Tuple Length

In [31]:
print(len(t))

4

# Tuple Sort

In [33]:
t = (4, 5, 1, 3, 2)
new_t = sorted(t)
print(new_t) # take elements in the tuple and return a new sorted list
# doesnot sor the tuple itself **

[1, 2, 3, 4, 5]

In [34]:
print(max(t))
print(min(t))
print(sum(t))

5
1
15