# List

* List is one of the Sequence Data Structure.
* Lists are collection of items (Strings, Integers or even other lists)
* Lists are enclosed in []
* Each item in the list has an assigned index value.
* Each item in a list is separated by a comma
* Lists are mutable, which means they can be changed.

# List Creation

In [1]:
emptyList = [] # or simply list()

lst = ['one', 'tow', 'three', 'four'] # list of strings
lst2 = [1, 2, 3, 4]
list3 = [[1,2], [2,3]]
list4 = [1, 'ramu', 24, 1.24]  # list of different databypes
list4

[1, 'ramu', 24, 1.24]

# List Length

In [2]:
print(len(lst))

4

# List Append

In [7]:
# this method adds the value at the last index
lst.append('five')
lst

['one', 'tow', 'three', 'three', 'four', 'five', 'five', 'five', 'five']

# List Insert

In [8]:
# this method can be used to insert value in specific index
lst.insert(2, 'three')
lst

['one',
 'tow',
 'three',
 'three',
 'three',
 'four',
 'five',
 'five',
 'five',
 'five']

# List Remove

In [11]:
# Removes the first occurence of the value in the parenthesis.
lst = ['one', 'two', 'three', 'four', 'two']

lst.remove('two')
lst

['one', 'three', 'four', 'two']

# List Append & Extend

In [16]:
lst = ['one', 'two', 'three']
lst2 = ['four', 'five', 'six']
lst.append(lst2)
lst

['one', 'two', 'three', ['four', 'five', 'six']]

In [19]:
# this function adds the elements of list2 to list one at the last index
lst.extend(lst2)
lst

['one',
 'two',
 'three',
 ['four', 'five', 'six'],
 'four',
 'five',
 'six',
 'four',
 'five',
 'six',
 'four',
 'five',
 'six']

# List Delete

In [20]:
# del to remove item based on index position

lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]
lst

['one', 'three', 'four', 'five']

# List related keywords inPython

In [21]:
# keyword 'in' is used to test if an item is in a list

lst = ['one', 'two', 'three']

if 'two' in lst:
    print('AI')

# keyword 'not' can combined with 'in'
if 'six' not in lst:
    print('ML')

AI
ML

# List Reverse

In [24]:
lst.reverse()
lst

['three', 'two', 'one']

# List Sorting

The easiest way to sort a list is with the sorted(list) function.

That takes a list and returns a new list with those elements in sorted order.

The original list is not changed.

The sorted() optional argument reverse=True eg. sorted(list, reverse=True), makes it sort backwards

In [25]:
# create a list with numbers
numbers = [3, 4, 6, 2, 8]
sorted_list = sorted(numbers)
sorted_list

[2, 3, 4, 6, 8]

In [26]:
numbers

[3, 4, 6, 2, 8]

In [30]:
lst = [1, 20, 5, 5, 5, 4.2]
# sort the list and sorted in itself
lst.sort()
lst

[1, 4.2, 5, 5, 5, 20]

# List having Multiple References

In [32]:
# appending in one list gonna change the original list as well
# as the same list is being referenced by lst and abc
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)

print(f"original list: {lst}")
print(f"new list: {abc}")

original list: [1, 2, 3, 4, 5, 6]
new list: [1, 2, 3, 4, 5, 6]

# String Split to create a list

In [33]:
s = "one,two,three,four,five"
slst = s.split(',')
slst

['one', 'two', 'three', 'four', 'five']

In [34]:
s = "THis is a practise string split to create a list"
split_lst = s.split()    # default split is white-character: space or tab
split_lst

['THis', 'is', 'a', 'practise', 'string', 'split', 'to', 'create', 'a', 'list']

# List Indexing & Slicing

In [35]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80]

print(numbers[:])

print(numbers[:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [36]:
print(numbers[::2])

[10, 30, 50, 70]

# List extend using "+"

In [37]:
lst1 = [1, 2, 3, 4]
lst2 = ['ashish', 'murali', 'brahma']
new_list = lst1 + lst2
new_list

[1, 2, 3, 4, 'ashish', 'murali', 'brahma']

# List Count

In [39]:
numbers = [1, 2, 3, 1, 3, 4, 2, 5, 3]

# Frequency of 1 in a list
print(numbers.count(1))

# frequency of 3 in a list
print(numbers.count(3))

2
3

# List Looping

In [44]:
lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)
    
print("________\n")

for index in range(len(lst)):
    print(lst[index])

one
two
three
four
________

one
two
three
four

# List Comprehensions

List comprehensions provide a concise way to create lists.

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [45]:
# without list comprehension
squares = []
for i in range(10):
    squares.append(i**2) # list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
# using list comprehension
squares =  [i**2 for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
lst = [-10, -20, 10, 20, 50]

# create a new list with values doubled
new_lst = [i**2 for i in lst]
print(new_lst)

# filter the list to exclude negative number
new_lst = [i for i in lst if i > 0]
print(new_lst)

# create a list of tuples with (number, square of numbers)

new_list = [(i, i**2) for i in lst]
print(new_list)

[100, 400, 100, 400, 2500]
[10, 20, 50]
[(-10, 100), (-20, 400), (10, 100), (20, 400), (50, 2500)]

In [59]:
# let's suppose we have a matrix
transposed = list()
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

# transpose of a matrix without list comprehension
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [60]:
# using list comprehension

transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]