# Pandas

Pandas is python module that makes data science easy and effective.

Weather dataset

Questions:
1. What was the maximum temperature in Nepal in the month of January?
2. On which days did it rains?
3. What was the average speed of wind during the month?

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('weatherdata.csv')
df.tail()

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
361,27-12-2016,60,40,50.0,0,0,0
362,28-12-2016,40,34,37.0,0,0,0
363,29-12-2016,46,33,39.5,0.39,0,0
364,30-12-2016,40,33,36.5,0.01,T,0
365,31-12-2016,44,31,37.5,0,0,0

In [3]:
df.describe()

       maximum temperature  minimum temperature  average temperature
count           366.000000           366.000000           366.000000
mean             64.625683            49.806011            57.215847
std              18.041787            16.570747            17.124760
min              15.000000            -1.000000             7.000000
25%              50.000000            37.250000            44.000000
50%              64.500000            48.000000            55.750000
75%              81.000000            65.000000            73.500000
max              96.000000            81.000000            88.500000

In [5]:
# Get the maximum temperatures
df['maximum temperature'].max()

96

In [9]:
# list all Snowing Day
df['date'][df['snow fall'] == 'T']  # Fancy Indexing

11      12-1-2016
13      14-1-2016
17      18-1-2016
23      24-1-2016
39       9-2-2016
40      10-2-2016
41      11-2-2016
53      23-2-2016
79      20-3-2016
93       3-4-2016
94       4-4-2016
99       9-4-2016
324    20-11-2016
349    15-12-2016
364    30-12-2016
Name: date, dtype: object